<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.banner_url %>);">
  <div class="container text-center">
    <h1><%= @list.name %></h1>
  </div>
</div>

  <ul class="list-group">
    <% @list.bookmarks.each do |bookmark| %>
      <li class="list-group-item"><%= bookmark.comment %><%= link_to "delete", 
    bookmark_path(bookmark),
    method: :delete,
    data: { confirm: "Are you shure?"} %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %>
</div>
